
.as-search-and-shop li:first-child{
    margin-right: 20px;
}
.as-search-and-shop{
    font-size: 18px;
}
.as-quatity-item-woo{
    margin-left: -5px;
    position: absolute;
    background: #AED13B;
    color: #2B3D4F;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    top: 9px;
    text-align: center;
    font-size: 11px;
    line-height: 22px;
    font-weight: 700;
}
.as-search-and-shop li{
    display: inline;
}

@media screen and (max-width: 996px) {
    .as-nav-menu-button {
        width: 40px;
        height: 35px;
        padding: 10px;
        position: absolute;
        right: 0;
        top: -10px;
        cursor: pointer;
        z-index: 9998;
    }
    .as-nav-menu-button:after {
        position: absolute;
        display: block;
        height: 4px;
        width: 20px;
        border-top: 2px solid #dddddd;
        content: ''
    }
    .as-nav-menu-button:before {
        -webkit-transition: all .3s ease;
        -ms-transition: all .3s ease;
        transition: all .3s ease;
        position: absolute;
        top: 16px;
        display: block;
        height: 2px;
        width: 20px;
        background: #ddd;
        content: ''
    }
    .as-nav-menu-button .as-button-icon{
        -webkit-transition: all .3s ease;
        -ms-transition: all .3s ease;
        transition: all .3s ease;
        position: absolute;
        width: 20px;
        height: 15px;
        border-bottom: 2px solid white;
    }
    .as-nav-menu-button.menu-opened .as-button-icon{
        border-bottom: none;
    }
    .as-nav-menu-button.menu-opened:after {
        -webkit-transition: all .3s ease;
        -ms-transition: all .3s ease;
        transition: all .3s ease;
        top: 23px;
        border: 0;
        height: 2px;
        width: 19px;
        background: #fff;
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg)
    }
    .as-nav-menu-button.menu-opened:before {
        top: 23px;
        background: #fff;
        width: 19px;
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg)
    }
    .as-wrapper-header-4{
        display: flex;
    }
    .as-menu-4{
        padding-left: 0;
    }
    .as-header-4-menu-wrapper{
        position: absolute;
        right: 70px;
    }
    .as-header-4-menu-wrapper .as-menu-4{
        background-color: #0d0d0e;
    }
    .as-header-4-menu-wrapper .as-menu-4 li{
        display: block;
        padding: 0;
        border-bottom: 1px solid #2F2F2F;
        padding: 10px 20px;
    }
    .as-header-4-menu-wrapper .as-menu-4 li:last-child{
        border-bottom: none;
    }
    .as-search-header-4{
        border-left: none;
        top: 0;
        right: 0;
        margin-top: -6px;
        position: absolute;
    }
    .as-quatity-item-woo{
        top:-3px;
    }
}